/Administrador.class
/Antigenos.class
/Clinica.class
/ColeccionAdministrador.class
/ColeccionEnfermero.class
/ColeccionPaciente.class
/ColeccionPersona.class
/ColeccionPrueba.class
/ColeccionTecnico.class
/ColeccionUsuario.class
/ColeccionVacuna.class
/Enfermero.class
/JohnsonAndJohnson.class
/Moderna.class
/PCR.class
/Paciente.class
/Persona.class
/Pfizer.class
/Planificador.class
/Prueba.class
/RegistroPrueba.class
/RegistroStock.class
/RegistroVacuna.class
/Serologico.class
/Stock.class
/StockPrueba.class
/StockVacuna.class
/Tecnico.class
/TipoEstado.class
/TipoGenero.class
/TipoMarcaVacuna.class
/TipoPrueba.class
/TipoResultadoPrueba.class
/TipoUsuario.class
/Usuario.class
/Vacuna.class
